# API
API_PORT=3002
APP_BASE_URL=/api

# DATABASE
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=BidaNest

# BCRYPT SALT
BCRYPT_SALT_ROUNDS=12

# JWT SECRET
JWT_SECRET=xyogk3qaD9VZDytDkRpvaYebKav6KE6YDR3v8Z6116GXNF9W4GJ3V1yB7wnxv7Jp
JWT_ACCESS_TOKEN_SECRET=supersecretaccess
JWT_REFRESH_TOKEN_SECRET=supersecretrefresh
JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=7d
