# API
API_PORT='API_PORT'
APP_BASE_URL='BASE_URL'

# DATABASE
DB_TYPE='DB_TYPE'
DB_HOST=localhost
DB_PORT='DB_PORT'
DB_USER='DB_USER'
DB_PASSWORD='DB_PASSWORD'
DB_DATABASE='DB_NAME'

# BCRYPT SALT
BCRYPT_SALT_ROUNDS='12'

# JWT SECRET
JWT_SECRET='le_secret_super_secure_ici, 32 ou 64 char'
JWT_ACCESS_TOKEN_SECRET='le_secret_super_secure_ici, 32 ou 64 char'
JWT_REFRESH_TOKEN_SECRET='le_secret_super_secure_ici, 32 ou 64 char'
JWT_ACCESS_TOKEN_EXPIRATION='DURATION'
JWT_REFRESH_TOKEN_EXPIRATION='DURATION'
