<div class="dashboard-layout">
  
  <!-- Sidebar Gauche -->
  <aside class="sidebar">
    <div class="logo">Maison<span>Recette</span></div>
    
    <nav class="nav-menu">
      <!-- RouterLinkActive applique la classe .active si on est sur la route -->
      <a routerLink="recipes" routerLinkActive="active" class="nav-item">
        <span class="icon"></span> Recettes
      </a>
      @if (authService.currentUser()?.role === 'user') {
        <a routerLink="profile" routerLinkActive="active" class="nav-item">
          <span class="icon"></span> Mon Profil
        </a>
      }
      @if (authService.currentUser()?.role === 'admin') {
        <a routerLink="members" routerLinkActive="active" class="nav-item">
          <span class="icon"></span> Membres
        </a>
      }
    </nav>

    <div class="sidebar-footer">
      <button (click)="onLogout()" class="btn-logout">
        <span class="icon"></span> Déconnexion
      </button>
    </div>
  </aside>

  <!-- Zone de Contenu Principale -->
  <div class="main-wrapper">
    
    <!-- Header Supérieur -->
    <header class="main-header">
      <div class="page-title">
        <!-- Titre dynamique ou informatif -->
        <span>Espace Personnel</span>
      </div>

      @if (authService.currentUser(); as user) {
        <div class="user-profile">
          <div class="user-avatar">
            {{ user?.nickname?.slice(0, 2)?.toUpperCase() }}
          </div>
          <div class="user-info">
            <span class="nickname">{{ user?.nickname }}</span>
            <span class="role">{{ user?.role }}</span>
          </div>
        </div>
      }

    </header>

    <!-- Le Router Outlet où s'injecteront les Recettes ! -->
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>
